---
Checks:
  -*,
  clang-diagnostic-*,
  clang-analyzer-*',
  -clang-analyzer-cplusplus-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -modernize-use-nodiscard
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: 2
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: file
